.network_img img {
    width: 24px;

    margin: 5px;
}
.btn-primary {

    background-color: transparent !important;
    border-color: #0275d8;
}

.swap_box_border {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}

button {
    font-family: "Raleway", Sans-serif;
    font-size: 14px !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px !important;
    color: #FFFFFF !important;
    background-color: transparent !important;
    background-image: linear-gradient(90deg, #00FD4C 0%, #00B706 100%);
    border: none !important;
    border-color: #6366FF61 !important;
    border-radius: 10px !important;
    box-shadow: 0px 10px 20px 0px rgb(54 187 145 / 19%);
    padding: 10px 20px !important;
}

body {
    background: black;
    color: white;
    background-image: linear-gradient(180deg, #02132700 0%, #021327 100%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 780px;
}

.col-md-6 {
    border: 0.2px solid #999;
    border-radius: 10px;
}

.swap_box_border {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    display: inline;
}

.box1 span {
    margin: 35px;
    display: inline-block;
    font-weight: 200;
    flex-flow: column-reverse;
}
